// Custom file input styles (replacement for jasny-bootstrap)
.custom-file-input,
.file-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-file-label,
.file-input-label {
  position: relative;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.form-group-5 > .form-group {
  margin-bottom: 5px;
}

// Legacy jasny compatibility
.jasny.fileinput > .form-control {
  border-radius: 0;
}

.fileinput {
  .form-control {
    border-radius: 0.25rem;
  }
}

.input-daterange {
  width: 100%;
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  .input-group {
    float: left;
    width: 50%;
    &:first-child input, &:not(:last-child) input {
      border-radius: 0;
    }
    &:not(:first-child):not(:last-child) .input-group-addon {
      border-right-width: 0;
      border-left-width: 0;
      border-radius: 0;
    }
    &:last-child {
      .input-group-addon {
        border-left-width: 0;
        border-radius: 0;
      }
      input {
        border-radius: 0 3px 3px 0;
      }
    }
  }
  .input-group-addon {
    min-width: 16px;
    padding: 4px 12px;
    margin-right: -5px;
    margin-left: -5px;
    line-height: 1.57142857;
    border-width: 1px 0;
    &:first-child {
      border-left-width: 1px;
    }
    &:last-child {
      border-right-width: 1px;
    }
  }
}

.clearablefileinput {
  @extend .form-control;
}

// BS3 to BS5 compatibility: input-group-addon -> input-group-text
.input-group-addon {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

// BS3 to BS5 compatibility: input-group-btn is no longer needed
// Buttons inside input-group are styled directly
.input-group-btn {
  display: flex;
  
  .btn {
    position: relative;
    z-index: 2;
  }
}