//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span,
    > button {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      margin-left: -1px;
      line-height: $line-height-base;
      color: $pagination-color;
      text-decoration: none;
      background-color: $pagination-bg;
      border: none;
      border-radius: 0!important;

      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }
    &:first-child {
      > a,
      > span,
      > button {
        margin-left: 0;
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
      }
    }
    &:last-child {
      > a,
      > span,
      > button {
        border-top-right-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
      }
    }
  }

  > .active > a,
  > .active > span,
  > .active > button {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: $pagination-active-color;
      cursor: default;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > button,
    > button:hover,
    > button:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      cursor: $cursor-disabled;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  > li > a,
  > li > span,
  > li > button {
    padding: $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-lg;
  }
}

// Small
.pagination-sm {
  > li > a,
  > li > span,
  > li > button {
    padding: $padding-small-vertical $padding-small-horizontal;
    font-size: $font-size-sm;
  }
}

