@import "variables";

.header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;

    .logo-cell {
        position: relative;
        margin-right: 15px;
        padding: 14px 0;
        float: left;
        height: 100%;
    }

    .logo-container {
      height: 100%;
      img {
        height: 100%;
        vertical-align: top;
      }
    }

    a {
        display: block;

        &:hover {
            text-decoration: none;
        }
    }

    .badge {
        background-color: transparent;
        border: 1px solid $color-gray-20;
        color: $color-gray-20;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            float: left;
            padding: 0 14px;
            cursor: pointer;

            i {
                font-weight: normal;
            }
        }

        &.__narrow li {
            padding: 0 4px;
        }
    }

    .menu.lvl1 {
        height: 64px;
        line-height: 64px;
        color: white;
        background-color: $header-lvl1-bg;
        min-width: $min-width;

        .container {
            height: 100%;
            display: flex;
            padding: 0 14px;
        }

        .menu-left {
          flex-grow: 1;
        }

        a {
            color: #fff;

            .fa-angle-down {
                min-width:11px;
            }
        }

        li {
            &:hover, &.active {
                background-color: $header-lvl1-active;
            }
        }
    }

    .menu.lvl2 {
        width: 100%;
        background-color: var(--theme-bg-secondary);
        min-width: $min-width;
        border-bottom: 1px solid var(--theme-border-primary);

        ul {
            margin-left: -10px;
        }

        li {
            padding: 0 10px;
            // rename with `active`
            &.active {
                a {
                    border-bottom-color: var(--theme-info);
                    color: var(--theme-text-content);
                }
            }
        }

        a {
            color: var(--theme-text-content);
            line-height: 50px;
            border-bottom: 4px solid transparent;

            &:hover {
                color: var(--theme-text-link);
            }
        }

        &.for-students {
            li {
                &.active {
                    //background-color: #F2A654!important;
                    a {
                        //color: #fff;
                        border-color: #F6BE80;
                    }
                }

            }
        }

        &.for-teachers {
            li {
                &.active {
                    a {
                        border-color: #515492;
                    }
                }

            }
        }

        &.for-staff {
            li {
                &.active {
                    a {
                        border-color: $color-green;
                    }
                }

            }
        }
    }

    .members-area-link {
        float: right;
        margin-right: 5px;
    }
}

#login {
    text-align: center;
    padding-left: 0;

    .logout-url {
        font-weight: normal;
    }
    ul {
        margin: 0;
        padding: 6px 0;
    }
    li {
        float: none;
        padding: 0;

        a {
            padding: 5px 24px;
            color: $color-gray-20;
        }
    }

    .dropdown {
        float: right;
        padding: 0;

        // BS3 and BS5 compatibility
        &.open, &.show, &:hover {
            background-color: $header-lvl1-active;
        }
    }

    .divider {
        margin: 6px 0;
        &:hover {
            background-color: var(--theme-bg-secondary);
        }
    }

    .dropdown-menu {
        border-radius: 2px;
        // BS5: ensure dropdown is properly positioned
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 120px;
        padding: 6px 0;
        margin: 0;
        font-size: 14px;
        color: $color-gray-20;
        text-align: left;
        list-style: none;
        background-color: var(--theme-bg-secondary);
        background-clip: padding-box;
        border: 1px solid var(--theme-border-primary);
        
        &.show {
            display: block;
        }
    }


    .dropdown-header {
        padding: 4px 16px 2px;
        font-size: 12px;
        color: var(--theme-text-muted);
        cursor: inherit;

        &:hover {
            background: inherit;
        }
    }
    
    // BS5: dropdown-menu positioning for menu-right
    .menu-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    
    // BS5: dropdown-item styles - compact sizing
    .dropdown-item {
        display: block;
        width: 100%;
        padding: 4px 16px;
        clear: both;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: var(--theme-text-content);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        
        &:hover,
        &:focus {
            color: var(--theme-text-link);
            background-color: var(--theme-bg-hover);
        }
    }
    
    .dropdown-divider {
        height: 0;
        margin: 4px 0;
        overflow: hidden;
        border-top: 1px solid var(--theme-border-primary);
    }

}

#user-menu {
    text-decoration: none!important;
    display: inline-block;
    padding: 0 14px;

    .caret {
        border-width: 5px;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 4px;

        &._empty {
            width: 36px;
            height: 36px;
        }
    }
}
